{% extends 'Calculator/calculator.html' %}

{% block content %}
<form id="calcForm" method="POST">
    <h2>Листовая печать</h2>
    <label for="paper_type">Выберите тип бумаги:</label>
    <div id="paper-sections">
        {% for paper_detail in paper_details %}
        <div class="form-group d-flex">
            <select class="form-control" id="paper_type" name="paper_type" style="flex: 1;">
                {% for paper in paper_types %}
                <option value="{{ paper.id }}" {% if paper.id== paper_detail[0].id %}selected{% endif %}>
                    {{ paper.name }} - {{ paper.price_per_unit }} руб/лист
                </option>
                {% endfor %}
            </select>
            <input type="number" class="form-control" id="paper_quantity" name="paper_quantity" placeholder="Количество"
                   style="width: 15%;" value="{{ paper_detail[1] }}" required>
            <button type="button" class="calc-btn btn btn-light" onclick="addPaperSection()">+</button>
        </div>
        {% endfor %}
    </div>


    <div class="form-group">
        <label for="print-type">Выберите тип печати:</label>
        <div class="d-flex align-items-center">
            <select class="form-control" id="machine_type" name="machine_type"
                    onchange="updatePrintOptions(this.value)" style="width: 20%">
                <option value="xerox">Xerox</option>
                <option value="konica">Konica</option>
            </select>
            <div id="print-content" style="flex: 1; margin-right: 10px;">
                {% if machine_type == 'konica' %}
                {% include 'Calculator/sheet_printing_konica.html' %}
                {% else %}
                {% include 'Calculator/sheet_printing_xerox.html' %}
                {% endif %}
            </div>
            <input type="number" class="form-control" id="print_quantity" name="print_quantity" placeholder="Количество"
                   style="width: 15%;" required value="{{ print_quantity }}">
            <button type="button" class="calc-btn btn btn-light" onclick="addPrintSection()">+</button>
        </div>
    </div>


    <label for="postprint_type">Выберите тип постпечатной обработки:</label>
    <div id="postprint-sections-wrap">
        {% for postprint_detail in postprint_details %}
        <div class="form-group d-flex">
            <select class="form-control" id="postprint_type" name="postprint_type" style="flex: 1;">
                {% for postprint in postprint_types %}
                <option value="{{ postprint.id }}" {% if postprint.id== postprint_detail[0].id %}selected{% endif %}>
                    {{ postprint.name }} - {{ postprint.price_per_unit }} руб/единица
                </option>
                {% endfor %}
            </select>
            <input type="number" class="form-control" id="postprint_quantity" name="postprint_quantity"
                   placeholder="Количество" style="width: 15%;" value="{{ postprint_detail[1] }}" required>
            <button type="button" class="calc-btn btn btn-light" onclick="addPostprintSection()">+</button>
        </div>
        {% endfor %}
    </div>

    <div class="form-group">
        <label for="work_time">Время работы (часы):</label>
        <input type="number" class="form-control" id="work_time" name="work_time" placeholder="Количество"
               style="width: 20%;" value="{{ work_time }}" required step="0.5" min="0">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Рассчитать</button>
        <button type="button" class="btn btn-light ml-2" onclick="resetForm()">Сбросить</button>
    </div>
</form>

<!-- Template for new sections -->
<template id="paper-section-template">
    <div class="form-group d-flex align-items-center">
        <select class="form-control" name="paper_type" style="flex: 1; margin-right: 10px;">
            {% for paper in paper_types %}
            <option value="{{ paper.id }}">{{ paper.name }} - {{ paper.price_per_unit }} руб/лист</option>
            {% endfor %}
        </select>
        <input type="number" class="form-control" name="paper_quantity" placeholder="Количество" style="width: 15%;"
               required>
        <button type="button" class="calc-btn btn btn-light" onclick="removeSection(this)">-</button>
    </div>
</template>

<template id="print-section-template">
    <div class="form-group d-flex align-items-center">
        <select class="form-control" name="machine_type" onchange="updatePrintOptions(this.value)" style="width: 20%">
            <option value="xerox">Xerox</option>
            <option value="konica">Konica</option>
        </select>
        <div id="print-content" style="flex: 1; margin-right: 10px;">
            {% if machine_type == 'konica' %}
            {% include 'Calculator/sheet_printing_konica.html' %}
            {% else %}
            {% include 'Calculator/sheet_printing_xerox.html' %}
            {% endif %}
        </div>
        <input type="number" class="form-control" name="print_quantity" placeholder="Количество" style="width: 15%;"
               required>
        <button type="button" class="calc-btn btn btn-light" onclick="removeSection(this)">-</button>
    </div>
</template>

<template id="postprint-section-template">
    <div class="form-group d-flex align-items-center">
        <select class="form-control" name="postprint_type" style="flex: 1; margin-right: 10px;">
            {% for postprint in postprint_types %}
            <option value="{{ postprint.id }}">{{ postprint.name }} - {{ postprint.price_per_unit }} руб/единица
            </option>
            {% endfor %}
        </select>
        <input type="number" class="form-control" name="postprint_quantity" placeholder="Количество" style="width: 15%;"
               required>
        <button type="button" class="calc-btn btn btn-light" onclick="removeSection(this)">-</button>
    </div>
</template>

{% if total_cost %}
<div class="mt-4 p-3 bg-custom-light">
    <h3>Розничная цена: {{ retail_price }} руб</h3>
    <ul>
        <li>Цена для постоянников: {{ regulars_price }} руб.</li>
        <li>Цена для партнёров: {{ partners_price }} руб.</li>
        <li>Цена со срочностью: {{ urgent_price }} руб.</li>
    </ul>
    <h5>Закупочная стоимость: {{ total_cost }} руб</h5>
    <ul>
        {% for paper_detail in paper_details %}
        <li>Тип бумаги ({{ loop.index }}): {{ paper_detail[0].name }}, количество: {{ paper_detail[1] }} на сумму {{
            paper_detail[1] * paper_detail[0].price_per_unit }} руб.
        </li>
        {% endfor %}
        <li>Тип печати: {{ print_type.name }}, количество: {{ print_quantity }} на сумму {{ print_cost }} руб.</li>
        {% for postprint_detail in postprint_details %}
        <li>Тип постпечатной обработки ({{ loop.index }}): {{ postprint_detail[0].name }}, количество: {{
            postprint_detail[1] }} на сумму {{ postprint_detail[1] * postprint_detail[0].price_per_unit }} руб.
        </li>
        {% endfor %}
        <li>{{ work_time }} часов работы на сумму {{ work_cost }} руб.</li>
    </ul>
</div>
{% endif %}
<script>
    function updatePrintOptions(machineType) {
        fetch(`/update_print_options?machine_type=${machineType}`)
            .then(response => response.text())
            .then(html => {
                document.getElementById('print-content').innerHTML = html;
            });
    }

    document.addEventListener("DOMContentLoaded", function() {
        const machineType = "{{ machine_type }}";
        document.getElementById('machine_type').value = machineType;
    });

    function addPaperSection() {
        const template = document.getElementById('paper-section-template');
        const clone = template.content.cloneNode(true);
        document.getElementById('paper-sections').appendChild(clone);
    }

    function addPrintSection() {
        const template = document.getElementById('print-section-template');
        const clone = template.content.cloneNode(true);
        document.getElementById('print-sections').appendChild(clone);
    }

    function addPostprintSection() {
        const template = document.getElementById('postprint-section-template');
        const clone = template.content.cloneNode(true);
        document.getElementById('postprint-sections-wrap').appendChild(clone);
    }

    function removeSection(button) {
        const section = button.parentElement;
        section.remove();
    }

    function resetForm() {
        window.location.href = "/sheet_printing";
    }





</script>
{% endblock %}
