{% extends 'Calculator/calculator.html' %}

{% block content %}
<form method="POST">
    <h2>Листовая печать</h2>
    <div class="form-group">
        <label for="paper_type">Выберите тип бумаги:</label>
        <div class="d-flex">
            <select class="form-control" id="paper_type" name="paper_type" style="flex: 1; margin-right: 10px;">
                {% for paper in paper_types %}
                <option value="{{ paper.id }}">{{ paper.name }} - {{ paper.price_per_unit }} руб/лист</option>
                {% endfor %}
            </select>
            <input type="number" class="form-control" id="paper_quantity" name="paper_quantity" placeholder="Количество"
                   style="width: 15%;" value="{{ paper_quantity }}" required>
        </div>
    </div>
    <div class="form-group">
        <label>Выберите машину для печати:</label>
        <div>
            <input type="radio" id="xerox" name="machine_type" value="xerox" checked
                   onclick="updatePrintOptions('xerox')">
            <label for="xerox">Xerox</label>
        </div>
        <div>
            <input type="radio" id="konica" name="machine_type" value="konica" onclick="updatePrintOptions('konica')">
            <label for="konica">Konica</label>
        </div>
    </div>
    <div id="print-content">
        {% if machine_type == 'konica' %}
            {% include 'Calculator/sheet_printing_konica.html' %}
        {% else %}
            {% include 'Calculator/sheet_printing_xerox.html' %}
        {% endif %}
    </div>
    <div class="form-group">
        <label for="postprint_type">Выберите тип постпечатной обработки:</label>
        <div class="d-flex">
            <select class="form-control" id="postprint_type" name="postprint_type" style="flex: 1; margin-right: 10px;">
                {% for postprint in postprint_types %}
                <option value="{{ postprint.id }}">{{ postprint.name }} - {{ postprint.price_per_unit }} руб/единица
                </option>
                {% endfor %}
            </select>
            <input type="number" class="form-control" id="postprint_quantity" name="postprint_quantity"
                   placeholder="Количество" style="width: 15%;" value="{{ postprint_quantity }}" required>
        </div>
    </div>
    <div class="form-group">
        <label for="work_time">Время работы (часы):</label>
        <input type="number" class="form-control" id="work_time" name="work_time" placeholder="Количество"
               style="width: 20%;" value="{{ work_time }}" required step="0.5" min="0">
    </div>
    <button type="submit" class="btn btn-primary">Рассчитать</button>
</form>

{% if total_cost %}
<div class="mt-4 p-3 bg-light">
    <h3>Розничная цена: {{ retail_price }} руб</h3>
    <ul>
        <li>Цена для постоянников: {{ regulars_price }} руб.</li>
        <li>Цена для партнёров: {{ partners_price }} руб.</li>
        <li>Цена со срочностью: {{ urgent_price }} руб.</li>
    </ul>
    <h5>Закупочная стоимость: {{ total_cost }} руб</h5>
    <ul>
        <li>Тип бумаги: {{ paper_type.name }}, количество: {{ paper_quantity }} на сумму {{ paper_cost }} руб.
        </li>
        <li>Тип печати: {{ print_type.name }}, количество: {{ print_quantity }} на сумму {{ print_cost }} руб.</li>
        <li>Тип постпечатной обработки: {{ postprint_type.name }}, количество: {{ postprint_quantity }} на сумму {{
            postprint_cost }} руб.
        </li>
        <li>{{ work_time }} часов работы на сумму {{ work_cost }} руб.</li>
    </ul>
</div>
{% endif %}
<script>
    function updatePrintOptions(machineType) {
        fetch(`/update_print_options?machine_type=${machineType}`)
            .then(response => response.text())
            .then(html => {
                document.getElementById('print-content').innerHTML = html;
            });
    }

    document.addEventListener("DOMContentLoaded", function() {
        const machineType = "{{ machine_type }}";
        if (machineType === 'xerox') {
            document.getElementById('xerox').checked = true;
        } else if (machineType === 'konica') {
            document.getElementById('konica').checked = true;
        }
    });
</script>
{% endblock %}
