{% extends 'base.html' %}

{% block title %}Calculator{% endblock %}

{% block nav %}
<nav>
    <ul>
        <li><a href="{{ url_for('admin_index') }}">Главная</a></li>
        <li><a href="{{ url_for('papertype.index_view') }}">Типы бумаги</a></li>
        <li><a href="{{ url_for('printtype.index_view') }}">Типы печати</a></li>
        <li><a href="{{ url_for('calculator.index') }}">Калькулятор</a></li>
    </ul>
</nav>
{% endblock %}

{% block content %}
<h1>Калькулятор</h1>
<form action="{{ url_for('calculator.calculate') }}" method="post">
    <label for="paper_type">Тип бумаги:</label>
    <select name="paper_type" id="paper_type">
        {% for paper_type in paper_types %}
            <option value="{{ paper_type.id }}">{{ paper_type.name }}</option>
        {% endfor %}
    </select>
    <br>
    <label for="print_type">Тип печати:</label>
    <select name="print_type" id="print_type">
        {% for print_type in print_types %}
            <option value="{{ print_type.id }}">{{ print_type.name }}</option>
        {% endfor %}
    </select>
    <br>
    <label for="quantity">Количество:</label>
    <input type="number" name="quantity" id="quantity">
    <br>
    <button type="submit">Рассчитать</button>
</form>
{% if total_price is not none %}
    <h2>Итоговая цена: {{ total_price }} руб</h2>
{% elif error_message is not none %}
    <p style="color: red;">{{ error_message }}</p>
{% endif %}
{% endblock %}
