<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>PSAdmin Panel</h1>
    </header>
    <main>
        <div class="container">
            <a href="{{ url_for('calculator.index') }}" class="box">
                <div class="content">
                    Калькулятор
                </div>
            </a>
            <a href="#" class="box">
                <div class="content">
                    Другое
                </div>
            </a>
            <a href="#" class="box">
                <div class="content">
                    Другое-2
                </div>
            </a>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Print Shop</p>
    </footer>
</body>
</html>
