{% extends 'admin/base.html' %}


{% block body %}
<div class="container">
    <h1>Инструменты</h1>
    <h3>Калькулятор</h3>
    <ul>
        <li><a href="{{ url_for('papertype.index_view') }}">Типы бумаги</a></li>
        <li><a href="{{ url_for('printtype.index_view') }}">Типы печати</a></li>
    </ul>
    <h3>Касса</h3>
    <ul>
        <!-- Будущие таблицы для Кассы -->
    </ul>
    <h3>Учет</h3>
    <ul>
        <!-- Будущие таблицы для Учета -->
    </ul>
</div>
<div class="container">
    <a href="{{ url_for('logout') }}" class="btn btn-primary">Выйти</a>
</div>
{% endblock %}
