body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.header-left h1 {
    margin: 0;
    font-size: 1.5rem;
}

.header-left h1 a {
    color: white;
    text-decoration: none;
}

.header-right nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.header-right nav ul li {
    margin: 0 1rem;
}

.header-right nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.header-right nav ul li a:hover {
    background-color: #555;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 2rem;
}

.box {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid #333;
    transition: background-color 0.3s, transform 0.3s;
}


.box-content {
    text-align: center;
}

.box a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.box:hover {
    background-color: #7fff00; /* Салатовый цвет */
}

.box:active {
    transform: scale(0.95);
}

.form-group {
    margin-bottom: 1rem;
}

form {
    max-width: 400px;
    margin: auto;
}

button {
    display: block;
    margin: auto;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.card {
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.card:hover {
    background-color: #f0f8ff;
}

.card:active {
    transform: scale(0.98);
}
