.card {
    transition: transform 0.2s, background-color 0.2s;
}

.card:hover {
    background-color: #f8f9fa;
}

.card:active {
    transform: scale(0.98);
}
.d-flex {
    display: flex;
    align-items: center;
}

.flex-grow-1 {
    flex-grow: 1;
}

.mr-2 {
    margin-right: 0.5rem;
}

.bg-custom-light {
    background-color: #e9ecef; /* немного темнее, чем #f8f9fa */
}

.form-control, .form-group {
    margin-right: 10px;
    position: relative;
}

.calc-btn {
    width: 4%;
}

.btn-light {
    background-color: #e9ecef !important;
    border-color: #e9ecef;
}

select {
    display: block;
    width: 100%;
}

.small-text {
    font-size: smaller;
    font-weight: normal;
}

.navbar {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.container {
    margin-top: 10px;
    max-width: 80%;
}

.table {
    width: 100%;
}

.table thead th {
    background-color: #f8f9fa;
}

h2 {
    font-size: 1.5rem;
}

.materials-cell {
    white-space: pre-line;  /* Отображение переноса строк */
}
