<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PS#1 Panel</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('index') }}">Печатный Салон №1</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        {% block nav_content %}{% endblock %}
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="/home">Главная</a></li>
            <li class="nav-item"><a class="nav-link" href="/admin/">Admin</a></li>
        </ul>
    </div>
</nav>
<main role="main" class="container mt-3">
    {% block content %}{% endblock %}
</main>
<script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
