{% extends 'Calculator/calculator.html' %}

{% block content %}
<form id="calcForm" method="POST">
    <h2>Цифровая печать</h2>

    <label for="paper_type">Выберите бумагу:</label>
    <div id="paper-sections">
        {% for paper_detail in paper_details %}
        <div class="form-group d-flex">
            <select class="form-control" id="paper_type" name="paper_type" style="flex: 1;">
                {% for paper in paper_types %}
                <option value="{{ paper.id }}" {% if paper.id == paper_detail[0].id %}selected{% endif %}>
                    {{ paper.name }} - {{ paper.price_per_unit }} руб/лист
                </option>
                {% endfor %}
            </select>
            <input type="number" class="form-control" id="paper_quantity" name="paper_quantity" placeholder="Количество"
                   style="width: 15%;" value="{{ paper_detail[1] }}" required>
            <button type="button" class="calc-btn btn btn-light" onclick="addPaperSection()">+</button>
        </div>
        {% endfor %}
    </div>

    <label for="machine-type">Выберите тип печати:</label>
    <div id="print_sections">
        {% for print_detail in print_details %}
        <div class="d-flex form-group">
            <select class="form-control" id="machine_type_{{ loop.index }}" name="machine_type"
                    onchange="updatePrintOptions(this.value, this)" style="width: 20%">
                <option value="xerox" {% if print_detail[0] == 'xerox' %} selected {% endif %}>Xerox</option>
                <option value="konica" {% if print_detail[0] == 'konica' %} selected {% endif %}>Konica</option>
            </select>
            <select class="form-control" id="print-content-{{ loop.index }}" name="print_type"
                    style="flex: 1; margin-right: 10px;">
                {% for print in print_types %}
                <option value="{{ print.id }}" data-xerox="{{ print.price_per_unit_xerox }}"
                        data-konica="{{ print.price_per_unit_konica }}"
                        {% if print.id == print_detail[1].id %} selected {% endif %}>
                    {{ print.name }} - {{ print.price_per_unit_xerox if print_detail[0] == 'xerox' else print.price_per_unit_konica }} руб/лист
                </option>
                {% endfor %}
            </select>
            <input type="number" class="form-control" id="print_quantity" name="print_quantity" placeholder="Количество"
                   style="width: 15%;" required value="{{ print_detail[2] }}">
            <input type="hidden" name="machine_type_hidden" value="{{ print_detail[0] }}">
            <button type="button" class="calc-btn btn btn-light" onclick="addPrintSection()">+</button>
        </div>
        {% endfor %}
    </div>

    <label for="postprint_type">Выберите постпечатную обработку:</label>
    <div id="postprint-sections-wrap">
        {% for postprint_detail in postprint_details %}
        <div class="form-group d-flex">
            <select class="form-control" id="postprint_type" name="postprint_type" style="flex: 1;">
                {% for postprint in postprint_types %}
                <option value="{{ postprint.id }}" {% if postprint.id == postprint_detail[0].id %}selected{% endif %}>
                    {{ postprint.name }} - {{ postprint.price_per_unit }} руб/единица
                </option>
                {% endfor %}
            </select>
            <input type="number" class="form-control" id="postprint_quantity" name="postprint_quantity"
                   placeholder="Количество" style="width: 15%;" value="{{ postprint_detail[1] }}" required>
            <button type="button" class="calc-btn btn btn-light" onclick="addPostprintSection()">+</button>
        </div>
        {% endfor %}
    </div>

    <div class="form-group">
        <label for="work_time">Время работы (часы):</label>
        <input type="number" class="form-control" id="work_time" name="work_time" placeholder="Количество"
               style="width: 20%;" value="{{ work_time }}" required step="0.5" min="0">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Рассчитать</button>
        <button type="button" class="btn btn-light ml-2" onclick="resetForm()">Сбросить</button>
        <button type="button" class="btn btn-success ml-2" onclick="saveOrder()">Записать</button>
    </div>
</form>

<!-- Template for new sections -->
<template id="paper-section-template">
    <div class="form-group d-flex align-items-center">
        <select class="form-control" name="paper_type" style="flex: 1; margin-right: 10px;">
            {% for paper in paper_types %}
            <option value="{{ paper.id }}">{{ paper.name }} - {{ paper.price_per_unit }} руб/лист</option>
            {% endfor %}
        </select>
        <input type="number" class="form-control" name="paper_quantity" placeholder="Количество" style="width: 15%;"
               required>
        <button type="button" class="calc-btn btn btn-light" onclick="removeSection(this)">-</button>
    </div>
</template>

<template id="print-section-template">
    <div class="form-group d-flex align-items-center">
        <select class="form-control" name="machine_type" onchange="updatePrintOptions(this.value, this)"
                style="width: 20%">
            <option value="xerox" selected>Xerox</option>
            <option value="konica">Konica</option>
        </select>
        <div id="print-content-template" style="flex: 1; margin-right: 10px;">
            <select class="form-control" name="print_type" style="flex: 1; margin-right: 10px;">
                {% for print in print_types %}
                <option value="{{ print.id }}"
                        data-xerox="{{ print.price_per_unit_xerox }}"
                        data-konica="{{ print.price_per_unit_konica }}">
                    {{ print.name }} - {{ print.price_per_unit_xerox }} руб/лист
                </option>
                {% endfor %}
            </select>
        </div>
        <input type="number" class="form-control" name="print_quantity" placeholder="Количество" style="width: 15%;"
               required>
        <button type="button" class="calc-btn btn btn-light" onclick="removeSection(this)">-</button>
    </div>
</template>

<template id="postprint-section-template">
    <div class="form-group d-flex align-items-center">
        <select class="form-control" name="postprint_type" style="flex: 1; margin-right: 10px;">
            {% for postprint in postprint_types %}
            <option value="{{ postprint.id }}">{{ postprint.name }} - {{ postprint.price_per_unit }} руб/единица
            </option>
            {% endfor %}
        </select>
        <input type="number" class="form-control" name="postprint_quantity" placeholder="Количество" style="width: 15%;"
               required>
        <button type="button" class="calc-btn btn btn-light" onclick="removeSection(this)">-</button>
    </div>
</template>

{% if total_cost %}
<div class="mt-4 p-3 bg-custom-light">
    <h3>
        Розничная цена: {{ retail_price }} руб
        <span class="small-text">(Прибыль - {{ (retail_price - total_cost) | round(2) }} руб. {{ ((retail_price - total_cost) * 100 / retail_price) | round(2) }}%)</span>
    </h3>
    <ul>
        <li><b>Цена для постоянников:</b> {{ regulars_price }} руб. (Прибыль - {{ (regulars_price - total_cost) |
            round(2) }} руб., {{ ((regulars_price - total_cost) * 100 / regulars_price) | round(2) }}%)
        </li>
        <li><b>Цена для партнёров:</b> {{ partners_price }} руб. (Прибыль - {{ (partners_price - total_cost) | round(2)
            }} руб., {{ ((partners_price - total_cost) * 100 / partners_price) | round(2) }}%)
        </li>
        <li><b>Цена со срочностью:</b> {{ urgent_price }} руб. (Прибыль - {{ (urgent_price - total_cost) | round(2) }}
            руб., {{ ((urgent_price - total_cost) * 100 / urgent_price) | round(2) }}%)
        </li>
    </ul>
    <h5>Закупочная стоимость: {{ total_cost }} руб</h5>
    <ul>
        {% for paper_detail in paper_details %}
        <li>Бумага ({{ loop.index }}): {{ paper_detail[0].name }}, количество: {{ paper_detail[1] }} на сумму {{
            (paper_detail[1] * paper_detail[0].price_per_unit) | round(2) }} руб.
        </li>
        {% endfor %}
        {% for print_detail in print_details %}
        <li>Печать ({{ loop.index }}): {{ print_detail[0] }} - {{ print_detail[1].name }}, количество: {{
            print_detail[2] }} на сумму {{
            (print_detail[2] * (print_detail[1].price_per_unit_xerox if print_detail[0] == 'xerox' else
            print_detail[1].price_per_unit_konica)) | round(2) }} руб.
        </li>
        {% endfor %}
        {% for postprint_detail in postprint_details %}
        <li>Постпечатка ({{ loop.index }}): {{ postprint_detail[0].name }}, количество: {{
            postprint_detail[1] }} на сумму {{ postprint_detail[1] * postprint_detail[0].price_per_unit | round(2) }}
            руб.
        </li>
        {% endfor %}
        <li>Работа: {{ work_time }} часов на сумму {{ work_cost }} руб.</li>
    </ul>
</div>
{% endif %}


<!-- Пример полей для retail_price и cost_price, которые заполняются при расчете -->
<input type="hidden" id="total_cost" name="total_cost" value="{{ total_cost }}">
<input type="hidden" id="retail_price" name="retail_price" value="{{ retail_price }}">
<input type="hidden" id="materials" name="materials" value="{{ materials_text }}">

<!-- Modal для ввода ID заказа -->
{% include 'Calculator/order_modal.html' %}

{% endblock %}
